# default
* @android

# iOS
/newm-mobile/iosApp @ios
/newm-mobile/shared/src/iosMain @ios

# Android
/newm-mobile/android @ios
/newm-mobile/shared/androidMain @ios

# Common
/newm-mobile/shared/src/commonMain @ios @android
